{% extends 'base.html' %}

{% block header %}

  <h1>{% block title %}{% endblock %}</h1>
<div class="NewPost">
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">Create New Post</a>
  {% endif %}
  </div>
{% endblock %}

{% block content %}
  {% for post in posts %}

{% if g.user %}

    <article class="post">
      <header>
          {% if g.user['id'] == post['author_id'] %}

          <li><a class="edit" href="{{ url_for('blog.update', id=post['id']) }}"> <i class="fa-solid fa-pen-to-square"></i></a></li>

          {% endif %}

        <div class="about">
            <li> <h1><i class="fa-solid fa-user"></i> {{ post ['firstname'] }} {{ post['lastname'] }}<br><p1>{{ post['created'].strftime('%e %b') }}</p1></h1></li><hr>
             <p2>{{ post['title'] }}</p2>
            </div>

      </header>


      <p class="body">{{ post['body'] }}</p>


    </article>

    {% if not loop.last %}


    {% endif %}
  {% endif %}
  {% endfor %}

    {% if g.user %}
    <div class="Footer">
      <p>Copyright © 2022 Final Project. Alright reserved.</p>
    </div>
   {% endif %}

{% endblock %}

