<!doctype html>

    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width, initial-scale1.0">
    <link href="style.css" rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/d771b8fd4a.js" crossorigin="anonymous"></script>
</head>
  <body>
<title>{% block title %}{% endblock %} - IPT project</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
<ul>
    <a href="{{ url_for('index') }}"><h1>Tweetbook</h1></a>

    {% if g.user %}
    <li><span>{{ g.user['firstname'] }} {{ g.user['lastname'] }}</span></li>
    <div class="logout">
    <a href="{{ url_for('auth.logout') }}" >Logout</a>
    </div>





    {% else %}
           <ul>
               <li> <a href="{{ url_for('auth.login') }}">Log In</a> </li>
               <li> <a href="{{ url_for('auth.register') }}">Sign Up</a></li>

           </ul>

    {% endif %}
  </ul>
</nav>
  </body>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}

</section>

